# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Type checker cache
.mypy_cache/

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Generated maze output
maze.txt
